* {
    box-sizing: border-box;
}

body {
    max-width: 992px;
    margin: 0 auto;
    font-family: Verdana, sans-serif;  
}

.btn-group {
    padding-top: 20px;
}

button {
    padding: 7px 15px;
    border-radius: 7px;
    border: 1px solid gray;
}

nav a {
    display: inline-block;
    border: 1px solid darkred;
    text-decoration: none;
    transition: all 0.5s;
    color: tomato;
    margin-right: 10px;
    padding: 5px 10px;
    border-radius: 7px;

    &.active {
        background-color: tomato;
        color: white;
    }
}

.phrases {
    padding: 0;
    list-style: none;

    li {
        cursor: pointer;
        margin: 2px;
        padding: 5px 0;
        max-width: 250px;
        transition: all 0.5s;
        border-radius: 7px;


        &:hover {
            padding-left: 15px;
            padding-right: 15px;
            background-color: lightcoral;
        }
    }
}
